-dontpreverify
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*
-verbose

-keepattributes *Annotation*

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider

-keep public class * extends android.view.View {
    public <init>(android.content.Context);
    public <init>(android.content.Context, android.util.AttributeSet);
    public <init>(android.content.Context, android.util.AttributeSet, int);
    public void set*(...);
}

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.content.Context {
    public void *(android.view.View);
    public void *(android.view.MenuItem);
}

-keepclassmembers class * implements android.os.Parcelable {
    static android.os.Parcelable$Creator CREATOR;
}

-keepclassmembers class **.R$* {
    public static <fields>;
}

# -- Support v4 --

-keep class android.support.v4.app.** { *; }
-keep interface android.support.v4.app.** { *; }





# -- Rest Template --

-keepclassmembers public class org.springframework {
   public *;
}

-dontwarn org.springframework.http.**


# -keepclassmembers,allowobfuscation class * {
#    @com.telly.groundy.annotations.* *;
#    <init>();
#}
#
#-keepnames class com.telly.groundy.generated.*
#-keep class com.telly.groundy.generated.*
#-keep class com.telly.groundy.ResultProxy
#-keepnames class * extends com.telly.groundy.ResultProxy
#-keep class * extends com.telly.groundy.GroundyTask